<table class="outer" cellspacing="1">

  <{if $block.full_view == true}>
  <tr>
    <th><{$block.lang_forum}></th>
    <th><{$block.lang_topic}></th>
    <th align="center"><{$block.lang_replies}></th>
    <th align="center"><{$block.lang_views}></th>
    <th align="center" colspan="2"><{$block.lang_lastpost}></th>
  </tr>

  <{foreach item=topic from=$block.topics}>
  <{strip}>
  <tr class="<{cycle values="even,odd"}>">
    <td>
      <a href="<{$xoops_url}>/modules/vtforum/viewforum.php?forum=<{$topic.forum_id}>"><{$topic.forum_name}></a>
    </td>
    <td>
      <a href="<{$xoops_url}>/modules/vtforum/viewtopic.php?topic_id=<{$topic.id}>&amp;post_id=<{$topic.post_id}>#forumpost<{$topic.post_id}>">
      <{if $topic.u2t_marked}>
        <img src="<{$xoops_url}>/modules/vtforum/images/marked.gif" />
      <{/if}>
      <{* displays the last post's subject or topic title *}>
      <{if $block.disp_last_subject }>
        <{$topic.last_subject}>
      <{else}>
        <{$topic.title}>
      <{/if}>
      </a>
      <{if ! $topic.solved}>
        <img src="<{$xoops_url}>/modules/vtforum/images/unsolved.gif" />
      <{/if}>
    </td>
    <td align="center"><{$topic.replies}></td>
    <td align="center"><{$topic.views}></td>
    <td align="center" nowrap="nowrap"><{$topic.poster}></td>
    <td align="right" nowrap="nowrap"><{$topic.date}></td>
  </tr>
  <{/strip}>
  <{/foreach}>

  <{else}>

  <tr>
    <td class="head"><{$block.lang_topic}></td>
    <td class="head" align="center"><{$block.lang_replies}></td>
    <td class="head" align="right"><{$block.lang_lastpost}></td>
  </tr>

  <{foreach item=topic from=$block.topics}>
  <tr class="<{cycle values="even,odd"}>">
    <td><a href="<{$xoops_url}>/modules/vtforum/viewtopic.php?topic_id=<{$topic.id}>"><{$topic.title}></a></td>
    <td align="center"><{$topic.replies}></td>
    <td align="right" nowrap="nowrap"><{$topic.date}></td>
  </tr>
  <{/foreach}>

  <{/if}>

</table>

<div style="text-align:right; padding: 5px;">
  <a href="<{$xoops_url}>/modules/vtforum/viewallforum.php?cat=<{$block.categories}>"><{$block.lang_listalltopics}></a>
  &nbsp;
  <a href="<{$xoops_url}>/modules/vtforum/index.php?cat=<{$block.categories}>"><{$block.lang_visitforums}></a>
</div>
